body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 3%;
}

.app {
  display: flex;
  justify-content: center;
  padding: 50px;
  background-image:url('../public/images/background.jpg');
  background-size: cover;
  opacity: .8;
  border-radius: 10px;
  background-repeat: no-repeat; 
  z-index: -10;

  
}


.container {
  max-width: 1000px;
  width: 100%;
}

.row {
  display: flex;
}

.col-md-4 {
  flex: 0 0 30%;
  padding: 0 20px;
}

.col-md-8 {
  flex: 0 0 70%;
  padding: 0 20px;
}

.user-list,
.post-list,
.post-details {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  color: rgba(23, 141, 168, 0.8);
  padding: 1rem;
  margin-top: 0;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
  padding: .7rem;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
}

li:last-child {
  border-bottom: none;
}

li:hover {
  background-color: rgba(12, 183, 223, 0.8);
}

h3 {
  font-size: 1rem;
  padding: 1rem;
  margin-top: 0;
}

p {
  font-size: 1rem;
  padding: 1rem;
  margin-top: 0;
  column-count: 2;
  column-gap: .5rem;
}

.selected {
  background-color: rgba(5, 63, 76, 0.8);
  color: #fff;
}

button, 
  button:link,
  button:visited {
     text-transform: uppercase;
     text-decoration: none;
     margin: 1rem;
     font-size: 1rem;
     font-family: inherit;
     padding: .5rem 1rem;
     background-color: rgba(23, 141, 168, 0.8);
     color: white;
     display: inline-block;
     border-radius: .5rem;
     transition: all .2s;
     position: relative;
     border: none;
     cursor: pointer;
  }

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.post-details button {
  margin-top: 1.5rem;
}

.modal {
  position: fixed;
  top:0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(5, 63, 76, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
  background-color: white;
  width: 50%;
  position: relative;
}

.close {
  position: absolute;
  font-size: 3rem;
  color: white;
  right: 10px;
  border: 1px solid rgba(23, 141, 168, 0.8);
  border-radius: 50px;
  padding: 0 15px;
  background-color: rgba(23, 141, 168, 0.8);
  cursor: pointer;
  margin-right: 1.2rem;
}

input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1rem 1rem;
  border-radius: 3px;
  background-color: rgba(23, 141, 168, 0.8);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  box-sizing: border-box;
  display: block;
  color: rgba(5, 63, 76, 0.8);
  outline: none;
  color: white;
  margin-bottom: 2rem;
  transition: all .2s;
}

input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
}

textarea {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1rem 1rem;
  border-radius: 3px;
  background-color: white;
  border: none;
  border: 3px solid rgba(5, 63, 76, 0.8);
  width: 100%;
  box-sizing: border-box;
  display: block;
  color: rgba(5, 63, 76, 0.8);
  outline: none;
  transition: all .2s;
}

textarea:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
}